/*
 * BASIC
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #333;
}

@media (min-width: 500px) {
  body {
    flex-direction: row;
  }
}

/*
 * SIDEBAR
 */
.sidebar {
  order: 0;
  flex: 0 1 220px;
  display: flex;
  flex-direction: column;
  color: #eee;
  background-color: #333;
}

@media (max-width: 500px) {
  .sidebar {
    flex-direction: row;
  }
}

.sidebar-header {
  text-align: center;
  flex: 1;
}

.sidebar-footer {
  align-self: end;
  text-align: center;
  width: 100%;
}

.sidebar-footer small {
  color: #aaa;
}

.top-left {
  flex-shrink: 0;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

ul > li {
  background-color: #999;
  padding: 10px;
}

.logo {
  text-align: left;
  max-width: 140px;
}

img.circular {
  max-width: 140px;
  border-radius: 50%;
}

img.inverted {
  filter: invert(100%);
}

/*
 * CONTENT
 */
.content {
  order: 1;
  flex: 0 1 100%;
  min-height: 100vh;
  padding: 20px;
  flex-direction: row;
}
